@import './colours.scss';

footer {
  padding-top: 40px;
  padding-bottom: 40px;
  color: $grey-200;
  background-color: $titleDarkBlue;
  text-align: center;

  a {
    color: $grey-400;

    &:hover {
      color: $grey-50;
      text-decoration: none;
    }
  }
}

.footer-socials {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;
    border: 2px solid $titleDarkBlue;



    i {
      font-size: 30px;
    }
  }
}
