@import './fonts.scss';
@import './colours.scss';
@import './lumxcolors.scss';


#downArrow {
    font-size: 3em;
    z-index: 1011;
    // transition: all 500ms ease;
    // animation: oscillate 2s infinite;
}

@keyframes oscillate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.sponsors-wrapper {
  // display: flex;
  // align-items: center;
  // justify-content: center;

  img {
    width: 30%;
  }
}

.my-panel-default.grey {
  background-color: #eee !important;
}

@media only screen and (max-width: 992px) {
  .downTriangle {
    display: none;
  }
}

.downTriangle {
  position: relative;
  width: 100%;
  // padding-bottom: 50%; /* width/2 for skewX(-30deg) */
  padding-bottom: 17.5%;
  overflow: hidden;
  z-index: 2000;

  &::after {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background : $titleDarkBlue;

    transform-origin: right top;
    // transform : rotate(30deg) skewX(-30deg);
    transform: rotate(10deg) skewX(-69.8deg)
  }

  &.light::after {
    background: #eee;
  }
}

.downTriangle.up {
  &::after {
    transform-origin: left bottom;
    transform: rotate(10deg) skewX(-69.9deg);
  }
}


.Splash {
  background-color: $splashbg;
  margin-bottom: 0;
  padding-bottom: 10px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 90vmin;
    height: 75vmin;
  }

  h1 {
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 2px;
    font-family: 'Nord';
    font-size: 4em;
    background-color: #d1d2d5;
    border: 2px solid #487DAF;

    .darkBlue {
      color: $titleDarkBlue;
    }

    .lightBlue {
      color: $titleLightBlue
    }
  }
}

#viz {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  overflow: hidden;

  canvas {
    z-index: 1010;
  }
}

.aboveCanvas {
  z-index: 1011;
  // opacity: 0;
}

.lightBlock {
  padding-top: 20px;
  background-color: $titleLightBlue;
}

.darkBlock {
  padding-top: 20px;
  background-color: $titleDarkBlue;
}

.lightBlock2, .darkBlock2 {
  background-color: #eee;

  .panel {
    background-color: white;
  }
}

.my-panel-default {
  border: 0;
  padding: 15px;
  border-radius: 0;
  background-color: $grey-100;
}

.registerBlock {
  padding-top: 30px;
  background-color: $titleDarkBlue;

  h2 {
    font-family: 'Nord';
  }


  .my-panel-default {

    .my-panel-body {
      // display: flex;
      // justify-content: space-between;

      .buttonHolder {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .btn-lg {
          font-size: 25px;
          font-family: 'Nord';
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .ribbon {
    position: absolute;
    right: 10px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;

    span {
      text-align: center;
      line-height: 20px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      width: 100px;
      display: block;
      background: $titleLightBlue;
      background: linear-gradient(lighten($titleLightBlue, 10%) 0%, $titleLightBlue 100%);
      box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
      position: absolute;
      top: 18px;
      right: -21px;

      .ribbonLink {
        font-size: 1.2em;
        font-family: 'Nord';
        color: $grey-100;
        text-transform: uppercase;
        text-decoration: none;
      }

      &::before {
        content: "";
        position: absolute; left: 0px; top: 100%;
        z-index: -1;
        border-left: 3px solid $titleLightBlue;
        border-right: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-top: 3px solid $titleLightBlue;
      }

      &::after {
        content: "";
        position: absolute; right: 0px; top: 100%;
        z-index: -1;
        border-left: 3px solid transparent;
        border-right: 3px solid $titleLightBlue;
        border-bottom: 3px solid transparent;
        border-top: 3px solid $titleLightBlue;
      }

      &:hover {
        background: lighten($titleLightBlue, 10%);

        &::before {
          border-left: 3px solid lighten($titleLightBlue, 10%);
          border-right: 3px solid transparent;
          border-bottom: 3px solid transparent;
          border-top: 3px solid lighten($titleLightBlue, 10%);
        }

        &::after {
          border-left: 3px solid transparent;
          border-right: 3px solid lighten($titleLightBlue, 10%);
          border-bottom: 3px solid transparent;
          border-top: 3px solid lighten($titleLightBlue, 10%);
        }
      }
    }
  }
}
