@import './fonts.scss';
@import './colours.scss';

html, body, #appContainer {
  height: 100%;
}

img {
  max-width: 100%;
}

.headerPush {
  height: 50px;
}

.padBotTen {
  padding-bottom: 15px;
}

.fullWidth div {
  width: 100% !important;
}

.fillY {
  height: 100%;
}

.btn-primary {
  border-radius: 0;
  color: $grey-100;
  background-color: $titleLightBlue;
  border: 2px solid $titleDarkBlue;

  &:hover {
    background-color: $titleDarkBlue;
    border: 2px solid $titleLightBlue;
  }

  a {
    color: $grey-100;
    text-decoration: none;
  }
}

hr {
  border-top: 2px solid $titleDarkBlue;
}
