@import './colours.scss';

.navbar-default {
  background-color: rgba($splashbg, 0.8);
  border-bottom: 0;
}

.navbar-default .navbar-nav > li > a:hover {
  color: $navLinkHover;
  background-color: darken($splashbg, 20%);
}

.Navigation {
  z-index: 2500;

  .navLink {
    text-transform: capitalize;

    &:hover {
      cursor: pointer;
    }
  }
}
