@import './colours.scss';

$triangHeight: 20px;
$triangBorder: 17px;
$triangOffset: 30px;

$timeOffset: 160px;

$timelineBlockBorderColor: $titleDarkBlue;
$timelineBGColour: #eee;

.left .headshot-wrapper {
  text-align: right;
}

.right .headshot-wrapper {
  text-align: left;
}

.headshot-wrapper {

  .headshot {
    width: 50%;
    border-radius: 50%;
  }
}

.Timeline {
  margin-top: -90px;
  position: relative;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $timelineBGColour;

  &::before {
    content: '';
    position: absolute;
    top: -5%;
    left: 50%;
    height: 105%;
    width: 4px;
    background-color: $titleDarkBlue;
  }

  .timeline-block {
    position: relative;
    padding: 10px;
    // border: 2px solid $timelineBlockBorderColor;
    border-color: $timelineBlockBorderColor;
    // border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;

    &::before, &::after {
      content: '';
      width: 0;
      height: 0;
      border: solid transparent;
      position: absolute;
      top: 50%;
      pointer-events: none;
    }

    &::before {
      border-width: $triangHeight;
      margin-top: -$triangHeight;
    }

    &::after {
      border-width: $triangBorder;
      margin-top: -$triangBorder;
    }

    &.right {
      margin-left: calc(50% + #{$triangHeight} + #{$triangOffset});
      border-left: 2px solid $timelineBlockBorderColor;

      &::before, &::after {
        right: 100%;
      }

      &::before {
        border-right-color: inherit;
      }

      &::after {
        border-right-color: $timelineBGColour;
      }

      .time {
        left: -$timeOffset;
      }

      .circle {
        left: -74px;

        &:hover {
          left: -79px;
        }
      }
    }

    &.left {
      margin-right: calc(50% + #{$triangHeight} + #{$triangOffset});
      border-right: 2px solid $timelineBlockBorderColor;

      &::before, &::after {
        left: 100%;
      }

      &::before {
        border-left-color: inherit;
      }

      &::after {
        border-left-color: $timelineBGColour;
      }

      .time {
        right: -$timeOffset;
      }

      .timeline-title, p {
        text-align: right;
      }

      .circle {
        right: -79px;

        &:hover {
          right: -84px;
        }
      }
    }
  }

  .time {
    position: absolute;
    line-height: 20px;
    margin-top: -15px;
    top: 50%;
    padding: 5px;
    // background: $titleLightBlue;
    // border: 2px solid $titleLightBlue;
    // border-radius: 5px;
    color: $titleDarkBlue;
    font-style: italic;
    font-weight: bold;
    font-size: 1.1em;
  }

  .circle {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 50%;
    margin-top: -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 4px solid $titleDarkBlue;
    background: #eee;
    text-align: center;
    line-height: 50px;
    z-index: 2001;

    transition: all 500ms ease;

    i {
      font-size: 25px;
      color: $titleDarkBlue;
    }

    &:hover {
      background-color: $titleDarkBlue;
      width: 60px;
      height: 60px;
      margin-top: -30px;

      i {
        color: #eee;
      }
    }
  }

  .timeline-title {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width : 992px) {
  .Timeline::before {
    left: 50%;
  }
}

@media only screen and (max-width: 992px) {
  .Timeline {
    &::before {
      left: 20px;
    }

    .timeline-block {

      .time {
        position: relative;
        left: 0 !important;
      }

      .circle {
        left: -50px !important;
      }

      &.left, &.right {
        margin-left: 60px !important;
        margin-right: 0;
      }

      &.left {
        &::before, &::after {
          left: -40px !important;
        }

        &::before {
          border-right-color: inherit !important;
          border-left-color: transparent;
        }

        &::after {
          left: -34px !important;
          border-right-color: $timelineBGColour;
          border-left-color: transparent;
        }

        // &::after {
        //   border-right-color: $timelineBGColour;
        //   border-left-color: transparent;
        // }
      }
    }
  }
}

.downTriangle {
  position: relative;
  width: 100%;
  // padding-bottom: 50%; /* width/2 for skewX(-30deg) */
  padding-bottom: 17.5%;
  overflow: hidden;
  z-index: 2000;

  &::after {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background : $titleDarkBlue;

    transform-origin: right top;
    // transform : rotate(30deg) skewX(-30deg);
    transform: rotate(10deg) skewX(-69.8deg)
  }
}

@media only screen and (max-width: 992px) {
  .downTriangle {
    display: none;
  }

  .Timeline {
    margin-top: 0;

    &::before {
      top: 0;
      height: 100%;
    }
  }
}
