@import './colours.scss';

.Splash {
  background-color: $splashbg;
  margin-bottom: 0;
  padding-bottom: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 90vmin;
    height: 75vmin;
  }

  h1 {
    margin-top: 0;
    font-family: 'Nord';

    .darkBlue {
      color: #47566D;
    }

    .lightBlue {
      color: #487DAF
    }
  }

  .MainLogo {
    background-image: url(../assets/BioHacksLogo.svg);
  }
}
