@import './colours.scss';

.Splash {
  background-color: $splashbg;
  margin-bottom: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .MainLogo {
    background-image: url(../assets/BioHacksLogo.svg);
  }
}
