@import './colours.scss';

body {
  padding-top: 50px;
  overflow-x: hidden;
}

.Navigation {
  background-color: $splashbg;
  border-bottom: 0;

  .navLink {
    text-transform: capitalize;

    &:hover {
      cursor: pointer;
    }
  }
}
